services:
  orbit_pubmed_data_builder:
    platform: linux/amd64
    build: .
    image: orbit:latest
    container_name: orbit_pubmed_data_builder
    environment:
      MODE: pubmed
    volumes:
      - ${ORBIT_PUBMED_INDEX_PATH:-./index-pubmed}:/app/index-pubmed
      - ${ORBIT_PUBMED_BASELINE_PATH:-./baseline-pubmed}:/app/baseline-pubmed
    restart: on-failure

  orbit_ctgov_data_builder:
    platform: linux/amd64
    build: .
    image: orbit:latest
    container_name: orbit_ctgov_data_builder
    environment:
      MODE: ctgov
    volumes:
      - ${ORBIT_CTGOV_INDEX_PATH:-./index-ctgov}:/app/index-ctgov
      - ${ORBIT_CTGOV_BASELINE_PATH:-./baseline-ctgov}:/app/baseline-ctgov
    restart: on-failure

  orbit_api:
    platform: linux/amd64
    build: .
    image: orbit:latest
    container_name: orbit_api
    environment:
      MODE: api
    depends_on:
      orbit_pubmed_data_builder:
        condition: service_completed_successfully
      orbit_ctgov_data_builder:
        condition: service_completed_successfully
    ports:
      - "${ORBIT_PORT:-8333}:8000"
    volumes:
      - ${ORBIT_PUBMED_INDEX_PATH:-./index-pubmed}:/app/index-pubmed
      - ${ORBIT_CTGOV_INDEX_PATH:-./index-ctgov}:/app/index-ctgov
    restart: always
